#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  gap: 2rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }
  #app aside {
    width: 100%;
  }
}